<!Doctype html>
<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="/vendor/assets/stylesheets/style.css" type="text/css" rel="stylesheet">
<style>
   @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html {
  height: 100%;
  width: 100%;

}
body{
    font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 200;
}
background-image
{
        

}
.aa{
     background-image: url(https://arararong.files.wordpress.com/2014/04/20140406-224037.jpg);
    height: 1000px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.slogan{
    text-align : center;
    padding-top: 350px;
    padding-bottom: 150px;
}
.fashion, .fashion_1{
    text-align : center;
    padding-top: 150px;
    padding-bottom: 150px;
}
.wrapper{
        text-align : center;
           padding-top: 10px;
           padding-left: 40%;
    padding-bottom: 150px;
}
.btn btn-primary{
    text-align : center;
}
</style>
</head>
    <div class="container aa">
        <div class="slogan">
            <img height="100%" src="https://d2hmp4n7p97ldw.cloudfront.net/assets/home/slide/02-slogan-f77dde1a45e987c0c1c2603a1dfcddbde2a7a1d5750e1ee7ff115e415a56b0db.png" alt="02 slogan">
            </div>
        </div>
           <div class="wrapper">
        <div class="col-sm-4 offset-sm-4">
              <div class="form-group">
                <label for="Input" ><h2>ㅇㅅaㅇ 오늘 뭐입지?<br>여성들을 위한 코디!!</h2></label>
                <form action="/game/fashion" method="get">
                <input type="text" class="control" id="Input" placeholder="이름을 적어주세요" name="name">
                <button type="submit" class="btn btn-primary offset-sm-4">코디!</button>
              </div>
              
           </form>
        </div>
    </div>
    <div class = "container bb">
        <h2></h2>
        <h1 class = "fashion"><a href="https://www.instagram.com/explore/tags/%EC%98%A4%EB%8A%98%EB%AD%90%EC%9E%85%EC%A7%80/">#오늘 뭐입지</a>
        <br>
        <a href="https://www.instagram.com/explore/tags/%EB%B4%84%EC%BD%94%EB%94%94%EC%B6%94%EC%B2%9C/">#봄 코디</a>
        <br>
        <a href="https://www.instagram.com/explore/tags/%EC%97%AC%EC%B9%9C%EB%A3%A9%EC%BD%94%EB%94%94/">#남심저격</a></h1>
    </div>
        <div class = "container cc">
        
    </div>

    </div>
</body>
</html>